

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.main-content {
	padding-top: 50px;
}

/* Reset the container */
.container {
  width: 1170px;
  max-width: none !important;
}

/* Undo the collapsing navbar */
.navbar-collapse {
  display: block !important;
  height: auto !important;
  padding-bottom: 0;
  overflow: visible !important;
  visibility: visible !important;
}

.navbar-toggle {
  display: none;
}
.navbar-collapse {
  border-top: 0;
}

.navbar-brand {
  margin-left: -15px;
}


.bar rect {
  fill: orange;
}

.bar text.value {
  fill: white;
}

.axis {
  shape-rendering: crispEdges;
}

.axis path {
  fill: none;
}

.x.axis line {
  stroke: #fff;
  stroke-opacity: .2;
}

.y.axis path {
  stroke: black;
}





.arc path {
  stroke: #fff;
}







.zoom {
    fill: transparent;
    cursor: pointer;
}

.y-axis path,
.y-axis line,
.x-axis path,
.x-axis line,
{
    path,
    line {
        stroke: #ccc;
        fill: none;
        stroke-width: 1px;
    }
}

.y-axis g line {
    stroke: grey;
    fill: none;
    stroke-width: 1px;
}

.graph-body .line circle {
    opacity: 0.1;
}





.day {
  fill: #fff;
  stroke: #ccc;
}

.month {
  fill: none;
  stroke: #000;
  stroke-width: 2px;
}



.area {
  fill: steelblue;
}

.overview-area {
  fill: grey;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.path {
  fill: orange;
}







